<ngx-charts-line-chart
  [results]="data"
  [xAxis]="true"
  [yAxis]="true"
  [showXAxisLabel]="!!xAxisLabel"
  [showYAxisLabel]="!!yAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [scheme]="colorScheme"
  [autoScale]="autoScale"
  [yScaleMin]="$any(yScaleMin)"
  [yScaleMax]="$any(yScaleMax)"
  [yAxisTickFormatting]="$any(yAxisTickFormatting)"
  [roundDomains]="true"
  [gradient]="gradient"
  [legend]="legend"
  [legendTitle]="legendTitle"
  [legendPosition]="legendPosition"
  [animations]="false">
</ngx-charts-line-chart>
